
body {
    margin: 0%;
    padding: 0%;
}


html {
    font-family:'Times New Roman', Times, serif !important;
    margin: 0%;
    padding: 0%;
    
}

.logopic {
    width: 5%;
    padding: 0.5%;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(219, 208, 187);
    padding: 1%;
    width: 100%;
    z-index: 2;
    overflow: hidden;
}

.home-cont {
    padding-right: 4%;
    display: flex;
    gap: 15%;
}

.rosina {
    display: flex;
    width: 35%;
}

.myname {
    font-size: xxx-large;
}

.about {
    display: flex;
    gap: 10%;
    align-items:flex-start;
    padding: 5%;
    padding-top: 9%;
}

.about-txt {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-top: 8%;
    
}

.about p {
    font-size: larger;
}

footer {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    background-color:rgb(219, 208, 187);
    padding: 2%;
}


.project-t {
    display: flex;
    justify-content: center;
    font-size: x-large;
    text-decoration: underline;
}

.projects {
    display: flex;

    padding: 3%;
    
    
}

.image {
    border-radius: 3%;
    margin-top: 2%;

}

.individualpro {
    display: flex;
    flex-direction: column;
    padding: 3%;
    align-items: center;
    font-size: large;
}

.dropbtn {
    text-decoration: underline;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropbtn:hover, .dropbtn:focus {
    color: #dc5727;
}
  
  
.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.projectcontent {
    display: flex;
    flex-direction: column;
    padding: 5% 0;
}

.projectcontent h1 {
    font-size: xx-large;
    margin: auto;
    padding: 4% 0%;
    text-decoration: underline;
}

.projectcontent img {
    width: 600px;
    height: 400px;
}

.projectcontent div {
    display: flex;
    gap: 5%;
    justify-content: center;
}

.projectcontent p {
    font-size: larger;
    padding: 4%;
}

.projectcontent a {
    font-size: larger;
    color: #dc5727;
    text-decoration: underline;
    padding-left: 4%;
}

@media screen and (max-width: 1000px) {
    .projects {
        display: flex;
        flex-direction: column;
    }

    .about {
        display: flex;
        flex-direction: column;
    }

    .rosina {
        width: 60%;
        height: 80%;
        margin: auto;
    }

}

@media screen and (max-width: 1300px) {
    .projectcontent div {
        width: 550px;
        margin: auto;
        gap: 30px;
    }

    .projectcontent h1 {
        padding-right: 4%;
    }

    .projectcontent img {
        height: 300px;
    } 
}

@media screen and (max-width: 1000px) {
    .projectcontent div {
        width: 400px;
        margin: auto;
        gap: 30px;
    }

    .projectcontent h1 {
        padding-right: 4%;
    }

    .projectcontent img {
        height: 250px;
    }
}

@media screen and (max-width: 780px) {
    .projectcontent div {
        flex-wrap: wrap;
        width: 400px;
        margin: auto;
        gap: 30px;
    }

    .projectcontent img {
        height: 250px;
    }
}
    
